.projectHeader {
  color: "#2e22e2"
}

p {
    font-size: 21px;
    font-weight: 100;
    margin: 0 0 10px;
}

.links{
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 10px;
}

.center {
  margin: auto;
}

.formRow {
  /* width:100%; */
}

h1.projectHeader {
  color: #789000;
  font-weight: 900;
}


h3.formHeader {
  color: #212121;
  font-weight: 300;
  letter-spacing: 20px;
  padding : 5px;
  margin-bottom: 10px;
}


.labelHelp {
  color: #000;
  font-weight: 100;
}

.projectDiv {
  background-color:#e1e1e1;padding: 5px 15px;
}

a.refLinks:link {
  color:#616161;
}

hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.password {
  padding: 10px 20px;
  width: 100%;
  background-color: #efefef;
  font-size: 24px;
  font-weight: 300;
  color: purple;
  /* height: 100px; */
  vertical-align: middle;
  border: 3px dashed #d1d1d1;
}

.container {
  margin: auto;
  text-align: center;
}
